.todoListMain {
    margin: 0 auto;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    width: 165px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-right: 0px;
    background-color: #0066ff;
    color: #fff;
    border: 2px solid #0066ff;
}

button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

ul.List {
    padding: 0;
}

.List li {
    color: #333;
    background-color: rgb(255, 255, 255, .5);
    padding: 15px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2s ease-out;
}

.List li:hover {
    background-color: pink;
    cursor: pointer;
}
