.todoListMain {
    margin: 0 auto;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #562A01;
    width: 165px;
    color: #562A01;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-right: 0px;
    background-color: #FED3AB;
    color: #562A01;
    border: 2px solid #562A01;
    border-left: 0;
}

button:hover {
    background-color: #D39E6B;
    border: 2px solid #D39E6B;
    cursor: pointer;
}

ul.List {
    padding: 0;
}

.List li {
    color: #333;
    background-color: rgb(255, 255, 255, .5);
    padding: 15px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2s ease-out;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.List li:hover {
    background-color: #D39E6B;
    cursor: pointer;
}

li:hover::after {
    content: '✔';
}